/*
  To help understand the CSS, the HTML looks like this (where x is a number; TYPE is down/left/right; PATH is the menu path such as node/343; MID is the menu id such as 33):
  <ul id='nice-menu-x' class='nice-menu nice-menu-TYPE'>
    <li id='menu-MID' class='menu-path-PATH'><a href='#'>This is a menu item</a></li>
    <li class='menuparent menu-path-PATH'><a href='#'>A submenu</a>
      <ul...><li...>...</li>
      </ul>
    </li>
    ...
  </ul>

  If you have more than one nice-menu and want to target a particular one, use its id (e.g. ul.#nice-menu-2)

  See README.txt for some CSS customization examples!

  First we're going to define CSS for all menus, then we'll define based on the type of menu
*/

/* below should fix menu being a few pixels away in some themes, and menus disappearing behind other stuff */
.block-nice_menus {
  line-height: normal;
  /*font-size: normal;*/
  /*position: relative;*/
  z-index: 10;
}

/* need this to enable hidding inner span */
.block-nice_menus h2.title {
  margin: 0;
}
.block-nice_menus h2.title .nice-menu-hide-title {
  display: none;
}
.block-nice_menus h2.title .nice-menu-show-title {
  display: none;
  margin-bottom: 5px;
}

ul.nice-menu,
ul.nice-menu ul{
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 5;
/* CML Dec. 7, 2006 - to match UNDP's template
  border-top: 1px solid #ccc;
*/
  border-top: 0px none;
  font-size: 11px;
  color: White;
}

ul.nice-menu li {
/* CML Dec. 7, 2006 - to match UNDP's template
  border: 1px solid #ccc;
  background-color: #eee;
*/
  border: 0px none;
  border-top: 0;
  position: relative;
  float: left;
  background-color: #003399;
}

ul.nice-menu a {
/* CML Dec. 7, 2006 - to match UNDP's template
  padding: 0.3em 15px 0.3em 5px;
*/
  padding: 0.3em 15px 0em 5px;
  display: block;
}

ul.nice-menu ul{
  position: absolute;
  top: 1.8em;
  left: -1px;
/* CML Dec. 7, 2006 - to match UNDP's template
  border: 0;
  border-top: 1px solid #ccc;
*/
  border: 0px none;
  margin-right: 0;
  display: none;
}

ul.nice-menu li.over ul{
  display: block;
}

ul.nice-menu ul li{
/* CML Dec. 8, 2006 - to match UNDP's template
  width: 12.5em;
*/
  width: 250px;
  display: block;
}

ul.nice-menu:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Show submenus when over their parents */
ul.nice-menu li:hover ul,
ul.nice-menu li.menuparent li:hover ul,
ul.nice-menu li.menuparent li.menuparent li:hover ul,
ul.nice-menu li.over ul,
ul.nice-menu li.menuparent li.over ul,
ul.nice-menu li.menuparent li.menuparent li.over ul {
  display: block;
}

/* Hide sub-menus initially */
ul.nice-menu li:hover ul ul,
ul.nice-menu li:hover ul ul ul,
ul.nice-menu li.over ul ul,
ul.nice-menu li.over ul ul ul {
  display: none;
}

/* Now stuff specific to the menu type (down, left or right menu pop) */

/* All VERTICAL (left/right) menus */

/* This is the default width of vertical menus. You can override these in your own stylesheet. */
ul.nice-menu-right, ul.nice-menu-left,
ul.nice-menu-right li, ul.nice-menu-left li{
  width: 12.5em;
}

/* stuff for VERTICAL menus where submenus pop RIGHT (default) */

ul.nice-menu-right ul {
  width: 12.5em;
  left: 12.5em;
  top: -1px;
}

ul.nice-menu-right ul ul {
  width: 12.5em;
  left: 12.5em;
  top: -1px;
}

ul.nice-menu-right li.menuparent,
ul.nice-menu-right li li.menuparent{
  background: #eee url(arrow-right.png) right center no-repeat;
}

ul.nice-menu-right li.menuparent:hover,
ul.nice-menu-right li.over,
ul.nice-menu-right li li.menuparent:hover,
ul.nice-menu-right li li.over{
  background: #ccc url(arrow-right.png) right center no-repeat;
}

/* stuff for VERTICAL menus where submenus pop LEFT */

ul.nice-menu-left li ul{
  width: 12.5em;
  left: -12.65em;
  top: -1px;
}

ul.nice-menu-left li ul li ul {
  width: 12.5em;
  left: -12.65em;
  top: -1px;
}

ul.nice-menu-left li.menuparent,
ul.nice-menu-left li li.menuparent{
  background: #eee url(arrow-left.png) left center no-repeat;
}

ul.nice-menu-left li.menuparent:hover,
ul.nice-menu-left li.over,
ul.nice-menu-left li li.menuparent:hover,
ul.nice-menu-left li li.over{
  background: #ccc url(arrow-left.png) left center no-repeat;
}

ul.nice-menu-left a, ul.nice-menu-left ul a {
  padding-left: 14px;
}

/* stuff for HORIZONTAL menus where submenus pop DOWN */

ul.nice-menu-down {
  float: left;
  border: 0;
}

ul.nice-menu-down li {
/* CML Dec. 7, 2006 - to match UNDP's template
  border-top: 1px solid #ccc; */
  border-top: 0px none;
}

ul.nice-menu-down li li {
  border: none;
  background: #CCDDEE none;
}

ul.nice-menu-down ul {
  border: solid 1px #336699;
  left: 0;
}

ul.nice-menu-down li ul li ul {
  left: 12.5em;
  top: -1px;
}

ul.nice-menu-down .menuparent a{
  padding-right: 15px;
}

ul.nice-menu-down li.menuparent{
/* CML Dec. 7, 2006 - to match UNDP's template
  background: #eee url(arrow-down.png) right center no-repeat;
*/
  background: #003399 none;
}

ul.nice-menu-down li.menuparent:hover,
ul.nice-menu-down li.over{
/* CML Dec. 7, 2006 - to match UNDP's template
  background: #ccc url(arrow-down.png) right center no-repeat;
*/
  background: #003399 none;
}

ul.nice-menu-down li li.menuparent{
  background: #eee url(arrow-right.png) right center no-repeat;
}

ul.nice-menu-down li li.menuparent:hover,
ul.nice-menu-down li li.over{
  background: #ccc url(arrow-right.png) right center no-repeat;
}

ul.nice-menu-down ul li {
  clear: both;
}

ul.nice-menu-down li a
  {
  	color: #FFFFFF;
  }

ul.nice-menu-down li a:hover
  {
	text-decoration: none;
	color: #99CCFF;
  }

ul.nice-menu-down li li a
  {
  	color: #336699;
  }

ul.nice-menu-down li li a:hover
  {
	text-decoration: none;
	color: #FFFFFF;
	background-color: #6699CC;
  }


/* CML Dec. 8, 2006 - to fix menu from UNDP's template */

LI + LI, LI + OL, LI + UL { /* line spacing between list bullets */
	margin-top: 0px;
}

/*
This tag from UNDP stylesheet screwed up the first menu item...
So we fix its attributes below
.content, .content-top, .content-left, .content-right {
	margin: 0px;
	padding: 0px 30px 30px 17px;
	font-size: 13px;
	line-height: 130%;
}
*/

.header {
	background-color: #003399;
	padding-top: 0px;
	padding-bottom: 4px;
	border-bottom: 1px #000000 solid;
}

.header .content {
	padding: 0px 30px 4px 15px;
}

.header .secondary-menu {
	float: right;
	padding: 4px 75px 2px 15px;
	font-size: 11px;
	color: #77AADD;
}

.header .secondary-menu a {
	color: #77AADD;
	text-decoration: none;
}

.header .secondary-menu a:hover {
	color: #99CCFF;
	text-decoration: none;
}

