/*
UNDP
Worldwide style sheet (identical to the Public and intranet style sheets, except for the last few lines)
last modified: 10 January 2006

Palette:
	UNDP blue: #003399
	header highlight blue: #6699CC
	text gray: #333333
	text green: #669966
	link blue: #336699
	link red: #CC3333
	sidebar gray: #F9F9F9
	sidebar header gray: #E6E6E6
*/


/* GLOBAL TAGS */

BODY {
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

BODY, TH, TD {
	color: #333333;
	font-family: "Verdana", "Arial", sans-serif;
	font-size: 11px;
}


/* LINKS */

A {
	color: #336699;
	text-decoration: none;
}

A:hover {
	color: #CC3333;
	text-decoration: underline;
}

A.on {
	color: #CC3333;
	text-decoration: none;
	font-weight: bold;
}

A img {
	border-color: #336699;
}

A:hover img {
	border-color: #CC3333;
}


/* HEADERS */

H1 {
	color: #003399;
	font-family: "Trebuchet MS", "Arial", sans-serif;
	font-size: 25px;
	font-weight: normal;
	line-height:130%;

	margin: 15px 0px 0px 0px;
	padding: 0px 0px 3px 0px;
	line-height:100%;
}

H2 {
	color: #003399;
	font-family: "Trebuchet MS", "Arial", sans-serif;
	font-size: 21px;
	font-weight: normal;
	line-height:130%;

	margin: 45px 0px 0px 0px;
	padding: 0px 0px 12px 0px;

	border-bottom: 1px dotted #666666;
	clear: both;
}

H3 {
	color: #003399;
	font-family: "Trebuchet MS", "Arial", sans-serif;
	font-size: 17px;
	font-weight: normal;
	line-height:130%;

	margin: 5px 0px 3px 0px;
	padding: 0px 0px 3px 0px;

	border-bottom: 1px dotted #666666;
}

H5 { /* byline */
	color: #666666;
	font-family: "Verdana", "Arial", sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 130%;

	margin: 6px 0px 0px 0px;
	padding: 0px 0px 6px 0px;
}

H6 { /* green all caps */
	color: #669966;
	font-family: "Verdana", "Arial", sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 130%;

	margin: 0px 0px -9px 0px;
	padding: 6px 0px 0px 0px;
}

H6 a {
	color: #669966;
	text-decoration: none;
}

H6 a:visited {
	color: #669966;
}

H6 a:hover {
	color: #CC3333;
	text-decoration: underline;
}


/* FONT COLORS */

.red, .text-red {
	color: #CC3333;
}

.gray {
	color: #666666;
}

.green {
	color: #669966;
}


/* TYPOGRAPHY */

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.smallcaps {
	font-variant: small-caps;
}

p {
	line-height: 130%;
}

.credit {
	color: #999999;
}

.nowrap {
	white-space: nowrap;
}

.norule {
	border-bottom: none;
}

LI + LI, LI + OL, LI + UL { /* line spacing between list bullets */
	margin-top: 5px;
}

.et {
	font-family: Arial, Helvetica, sans-serif;
}


/* HEADER */

#logo {
	position: absolute;
	top: 25px;
	right: 0px;
	background-color: #6699CC;
}

.header {
	background-color: #003399;
	font-size: 11px;
	margin: 0px;
	padding: 0px;
}

#nav {
	margin: 0px;
	padding: 0px;
}

#nav td {
	background-color: #003399;
	font-size: 11px;
	margin: 0px;
	padding: 3px 9px 3px 9px;
	border-left: 1px solid #003399;
	border-right: 1px solid #003399;
	border-bottom: 1px solid #333333;
	white-space: nowrap;
}

#nav td.on {
	background-color: #FFFFFF;
	border-bottom: none;
	border-left: 1px solid #333333;
	border-right: 1px solid #333333;
}

#nav td.first {
	margin: 0px;
	padding: 0px;
	padding-left: 1px;
}

#nav td.last {
	color: #77AADD;
	width: 80%;
	padding-right: 95px;
	text-align: right;
}



/* HEADER LINKS */

#nav td a {
	color: #FFFFFF;
	text-decoration: none;
}

#nav td a:visited {
	color: #FFFFFF;
}

#nav td a:hover {
	color: #99CCFF;
}

#nav td.on a {
	color: #002255;
}

#nav td.on a:visited {
	color: #002255;
}

#nav td.on a:hover {
	color: #002255;
}

#nav td.last a {
	color: #77AADD;
}

#nav td.last a:visited {
	color: #77AADD;
}

#nav td.last a:hover {
	color: #99CCFF;
}



/* BANNER */

.banner {
	margin: 0px;
	padding: 0px;
}

.banner h3 {
	color: #333333;
	font-family: "Trebuchet MS", "Arial", sans-serif;
	font-weight: normal;
	font-size: 14px;
	margin: 0px;
	padding: 10px 0px 0px 17px;
	border: none;
}

.banner h3 a, .banner h3 a:visited, .banner h3 a:hover {
	color: #333333;
	text-decoration: none;
}

.banner h1 {
	color: #003399;
	font-family: "Trebuchet MS", "Arial", sans-serif;
	font-weight: normal;
	font-size: 26px;
	margin: 0px;
	padding: 7px 0px 13px 17px;
	text-decoration: none;
}

.banner h1 a, .banner h1 a:visited, .banner h1 a:hover {
	color: #003399;
	text-decoration: none;
}

.banner h1.green, .banner h1.green a, .banner h1.green a:visited, .banner h1.green a:hover {
	color: #669966;
	text-decoration: none;
}

#flag {
	margin-right: 8px;
	vertical-align: middle;
}

.breadcrumb {
	background-color: transparent;
	color: #777777;
	font-size: 11px;
	margin: 5px 0px 0px 0px;
	padding: 3px 3px 4px 17px;
}

.shadow {
	border-top: 1px solid #BBBBBB;
	background-color: #DDDDDD;
	border-bottom: 1px solid #EEEEEE;
	height:1px;
	font-size: 1px;
	width: 100%;
}


/* SIDEBAR */

.sidebar, .sidebar-footer {
	color: #666666;
	background-color: #F9F9F9;
	border-right: 1px solid #BCB8B6;
	margin: 0px;
	padding: 0px 0px 25px 0px;
	width: 18%;
	height: 100%;
	font-size: 11px;
}

.rightsidebar, .rightsidebar-footer {
	color: #666666;
	background-color: #FFFFFF;
	border-right: 0px;
	margin: 0px;
	padding: 0px 10px 25px 0px;
	width: 20%;
	height: 100%;
	font-size: 12px;
}

.sidebar-footer {
	border-bottom: 1px solid #BCB8B6;
}

.sidebar H3 {
	color: #003399;
	background-color: #E6E6E6;
	font-family: "Trebuchet MS", "Arial", sans-serif;
	font-size: 13px;
	font-weight: normal;

	margin: 0px;
	padding: 4px 4px 5px 11px;

	border: none;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
}

.rightsidebar H3 {
	font-size: 14px;
}

.sidebar p, .rightsidebar p, .sidebar-footer p {
	margin: 7px 7px 7px 13px;
	padding: 0px;
}

.sidebar ul, .rightsidebar ul {
	list-style-type:  none;
	list-style-position: outside;
	list-style-image: url('http://www.undp.org/images/cms/button/bullet.gif');
	margin: 0px 5px 0px 0px;
	padding: 7px 0px 0px 27px;
	border: none;
	font-size: 11px;
}

.sidebar ul ul, .rightsidebar ul ul {
	list-style-type:  none;
	list-style-position: outside;
	list-style-image: url('http://www.undp.org/images/cms/button/bullet.gif');
	margin: 6px 0px 0px 0px;
	padding: 0px 0px 10px 16px;
	border: none;
}

.sidebar ul li, .rightsidebar ul li {
	margin: 0px;
	padding: 0px 0px 6px 0px;
}

.sidebar ul ul li, .rightsidebar ul ul li {
	margin: 0px;
	padding: 0px 0px 2px 0px;
}


/* CONTENT */

.content, .content-top, .content-left, .content-right {
	margin: 0px;
	padding: 0px 30px 30px 17px;
	font-size: 13px;
	line-height: 130%;
}

.content-top {
	/* used to create a two-column table in the single-column template */
	padding-bottom: 0px;
}

.content-left {
	/* used to create a two-column table in the single-column template */
	padding-right: 20px;
}

.content-right {
	/* used to create a two-column table in the single-column template */
	padding-left: 0px;
}

.article {
	width: 85%;
	max-width: 660px;
}

.lefthalf {
	position: relative;
	float: left;
	width: 47%;
	margin: 0px 5% 0px 0px;
	clear: both;
}

.righthalf {
	position: relative;
	float: right;
	width: 48%;
	margin: 0px 0px 0px 0px;
}


/* COMPONENTS */

.sidebar .component {
	border: none;
	border-top: 1px solid #BCB8B6;
	margin-bottom: 20px;
}

.rightsidebar .component {
	border: none;
	margin-bottom: 20px;
}

.content .component {
	margin-bottom: 24px;
}

.content .component ul {
	list-style-image: url('http://www.undp.org/images/cms/button/bullet.gif');
}

.full {
	clear: both;
}

.lefthalf {
	position: relative;
	float: left;
	width: 47%;
	margin: 0px 5% 0px 0px;
	clear: both;
}

.righthalf {
	position: relative;
	float: right;
	width: 48%;
	margin: 0px 0px 0px 0px;
}

.leftthird {
	float: left;
	width: 30%;
	margin: 0px 5% 0px 0px;
	clear: both;
}

.centerthird {
	float: left;
	width: 30%;
	margin: 0px 5% 0px 0px;
}

.rightthird {
	float: left;
	width: 30%;
	margin: 0px;
}

.lefttwothirds {
	float: left;
	width: 65%;
	margin: 0px 5% 0px 0px;
	clear: both;
}

.righttwothirds {
	float: left;
	width: 65%;
	margin: 0px;
}

.clear {
	clear: both;
}

.nomargin {
	margin: 0px;
}

.nopadding {
	padding: 0px;
}

.nestedtable TD {
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
}

.boxes img {
	margin: 5px 5px 0px 5px;
	border: 1px solid #666666;
}


/* COLORED BOXES */

.boxed {
	background-color: #EEEEEE;
	border: 1px solid #DDDDDD;
	padding: 10px 15px;
}

.boxed H3 {
	color: #666666;
	border: none;
}

.boxed_green {
	background-color: #669966;
	border: 1px solid #000000;
	padding: 10px 15px;
}

.boxed_green H3 {
	color: #000000;
	border: none;
}

.boxed_yellow {
	background-color: #FFDB71;
	border: 1px solid #000000;
	padding: 10px 15px;
}

.boxed_yellow H3 {
	color: #000000;
	border: none;
}

.rightinset {
	position: relative;
	float: right;
	width: 48%;
	margin: 10px 0px 10px 15px;
}


/* WIDTH OVERRIDE */

.width-300 {
	width: 300px;
}



/* BG COLORS */

.bg-blue {
	background-color: #E3EBF2;
}


/* IMAGES */

img {
	border-color: #666666;

}

.image {
	margin: 7px 20px 20px 0px;
	color: #666666;
	font-size: 11px;
	clear: both;

}

.image-left {
	position: relative;
	float: left;
	margin: 7px 20px 20px 0px;
	color: #666666;
	font-size: 11px;
	clear: both;
}

.image-right {
	position: relative;
	float: right;
	margin: 10px 0px 20px 20px;
	color: #666666;
	font-size: 11px;
	clear: both;
}

.image img, .image-left img, .image-right img {
	margin-bottom: 3px;
	border: 1px solid #333333;
}


/* FOOTER */

.footer {
	color: #999999;
	margin: 0px;
	padding: 0px 30px 30px 20px;
	font-size: 10px;
}


/* RULES */

.rule {
	border-top: 1px dotted #999999;
	width: 100%;
	height: 1px;
	font-size: 1px;
	margin-top: 5px 0px;
	padding: 0px;
}


/* PRINTABLE VERSION */

.printable, .siteNav .printable {
	font-size: 11px;
	margin-left: 10px;
}


/* SPECIAL HEADERS */

.first H1, .first H2, .first H3, .first H4, .first H5, .first H6 {
	margin-top: 0px;
}

H1.first, H2.first, H3.first, H4.first, H5.first, H6.first {
	margin-top: 0px;
}


/* TABS */

.tabs {
	background-color: #EEEEEE;
	padding: 8px 0px 0px 0px;
	margin: 0;
	font-family: "Lucida Grande", Verdana, sans-serif;
	font-size: 11px;
	color: #333333;
	width: 100%;
}

.tab, .tab_on {
	background-color: #F6F6F6;
	position: relative;
	z-index: 1;
	float: left;
	padding: 4px 15px 6px 9px;
	margin-left: 7px;
	border-left: 1px solid #BBBBBB;
	border-top: 1px solid #BBBBBB;
	border-right: 1px solid #BBBBBB;
}

.tab_on {
	background-color: #FFFFFF;
	z-index: 3;
	border-left: 1px solid #999999;
	border-top: 1px solid #999999;
	border-right: 1px solid #999999;
}

.tab_on a, .tab_on a:hover, .tab_on a:visited {
	font-weight: bold;
	color: #CC3333;
}

.tab_shadow {
	background-image: url('../images/intranet/tabs/tabshadow.gif');
 	background-position: top left;
 	background-repeat: no-repeat;
	position: relative;
	z-index: 1;
	float: left;
	padding: 4px 0px 6px 0px;
	margin: 0px;
	margin-right: -7px;
}

.tabrule {
	background-color: #FFFFFF;
	position: relative;
	z-index: 2;
	top: -1px;
	height: 1px;
	font-size: 1px;
	border-top: 1px solid #999999;
}

.tabs > .first {
	margin-left: 17px;
}




/* STANDARD TABLE DEFINITIONS */

table.standard {
	/* standard table spacing */
	border-collapse: collapse;
	background-color: #FFFFFF;
	width: 100%;
	margin: 15px 0px 15px 0px;
	padding: 0px;
}

table.standard tr {
	/* standard table rows */
	vertical-align: top;
}

table.standard th {
	/* standard table headers */
	margin: 0px;
	padding: 5px 5px 5px 5px;
	background-color: #E6E6E6;
	text-align: left;
	vertical-align: center;
	font-weight: normal;
}

table.standard td {
	/* standard table cells */
	margin: 0px;
	padding: 3px 5px 3px 5px;
}

/* LARGEFONT TABLE DEFINITIONS */
/* added by mtoomey 29 june 2005 */

table.largefont {
	/* standard table spacing */
	border-collapse: collapse;
	background-color: #FFFFFF;
	width: 100%;
	margin: 15px 0px 15px 0px;
	padding: 0px;
}

table.largefont tr {
	/* standard table rows */
	vertical-align: top;
}

table.largefont th {
	/* standard table headers */
	margin: 0px;
	padding: 5px 5px 5px 5px;
	background-color: #E6E6E6;
	text-align: left;
	vertical-align: center;
	font-weight: normal;
	font-size=13;
}

table.largefont td {
	/* standard table cells */
	margin: 0px;
	padding: 3px 5px 3px 5px;
	font-size=15;
}




/* TABLE BORDER DEFINITIONS */

table.border {
	/* add border to tables */
	border: 1px solid #CCCCCC;
}

table.rowborder tr {
	/* add border to rows */
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}

table.columnborder th, table.columnborder td {
	/* add border to columns */
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}

table.cellborder th, table.cellborder td {
	/* add border to cells */
	border: 1px solid #CCCCCC;
}

table.noborder, table.norowborder tr, table.nocellborder th, table.nocellborder td {
	/* remove border */
	border: none;
}

th.leftborder, td.leftborder {
	/* force left border on cell (will not work if table class="nocellborder") */
	border-left: 1px solid #CCCCCC;
}

th.rightborder, td.rightborder {
	/* force right border on cell (will not work if table class="nocellborder") */
	border-right: 1px solid #CCCCCC;
}


/* TABLE HEADER AND SUBHEAD ROWS */

tr.title th, tr.title td {
	background-color: #666666;
	color: #FFFFFF;
	font-weight: bold;
}

tr.head th, tr.head td {
	background-color: #CCCCCC;
}

tr.subhead th, tr.subhead td {
	background-color: #DDDDDD;
	padding: 5px;
}

tr.subtotal th, tr.subtotal td {
	background-color: #ECECEC;
}

tr.total th, tr.total td {
	background-color: #DDDDDD;
	border-top: 1px solid #999999;
	font-weight: bold;
}


/* BLUE TABLE HEADER AND SUBHEAD ROWS */

table.blue tr.title th, table.blue tr.title td {
	background-color: #2255BB;
	color: #FFFFFF;
	font-weight: bold;
}

table.blue tr.head th, table.blue tr.head td {
	background-color: #ABD3FF;
}

table.blue tr.subhead th, table.blue tr.subhead td {
	background-color: #CCEEFF;
	padding: 5px;
}

table.blue tr.subtotal th, table.blue tr.subtotal td {
	background-color: #ECECEC;
	border-bottom: 1px solid #CCCCCC;
}

table.blue tr.total th, table.blue tr.total td {
	background-color: #BBE3FF;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	font-weight: bold;
}


/* ALTERNATE ROWS */

tr.odd {
	/* used on 1st and alternate rows */
	background-color: #FFFFFF;
}

tr.even, tr.alt {
	/* used on 2nd and alternate rows */
	background-color: #F3F3F3;
}


/* OVERLAPPING ALTERNATE ROWS */

td.column {
	/* used to add column colors */
	background-color: #F3F3F3;
}

tr.odd td.column {
	background-color: #F3F3F3;
}

tr.even td.column {
	background-color: #ECECEC;
}


/* CELL FORMATTING */

th.icon, td.icon {
	text-align: center;
}


/* DIRECTORY TABLE */

.directory {
	border-collapse: collapse;
	border: none;
	margin: 5px 5px 10px 7px;
}

.directory td {
	margin: 0px;
	padding: 2px 2px 1px 1px;
	vertical-align: middle;
}


/* ALTERNATE-ROW TABLE (THIS IS NOW OBSOLETE) */
/* change  [table ... class="alternaterow"] to [table class="standard cellborder"] */

.alternaterow {
	border-collapse: collapse;
	border-top: 1px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
	background-color: #FFFFFF;
	font-weight: bold;
	width: 100%;
	margin: 15px 0px 15px 0px;
}

.alternaterow th {
	border: 1px solid #AAAAAA;
	color: #333333;
	background-color: #E6E6E6;
	font-weight: normal;
	margin: 0px;
	padding: 3px 5px 3px 5px;
	text-align: left;
	vertical-align: center;
}

.alternaterow td {
	border-left: 1px solid #AAAAAA;
	border-right: 1px solid #AAAAAA;
	font-weight: normal;
	margin: 0px;
	padding: 3px 5px 3px 5px;
	vertical-align: top;
}


/* TABLE SORT */

img.sort, img.sort {
	float: right;
	margin: 0px 0px 0px 3px;
}


/* ICON ROLLOVERS */

a.infoicon img {
	background: url('http://www.undp.org/images/intranet/icon/info.gif') top left no-repeat;
}
a.infoicon:hover img {
	background: url('http://www.undp.org/images/intranet/icon/info_on.gif') top left no-repeat;
}
a.sendicon img {
	background: url('http://www.undp.org/images/intranet/icon/send.gif') top left no-repeat;
}
a.sendicon:hover img {
	background: url('http://www.undp.org/images/intranet/icon/send_on.gif') top left no-repeat;
}
a.editicon img {
	background: url('http://www.undp.org/images/intranet/icon/edit.gif') top left no-repeat;
}
a.editicon:hover img {
	background: url('http://www.undp.org/images/intranet/icon/edit_on.gif') top left no-repeat;
}
a.uploadicon img {
	background: url('http://www.undp.org/images/intranet/icon/upload.gif') top left no-repeat;
}
a.uploadicon:hover img {
	background: url('http://www.undp.org/images/intranet/icon/upload_on.gif') top left no-repeat;
}
a.moveicon img {
	background: url('http://www.undp.org/images/intranet/icon/move.gif') top left no-repeat;
}
a.moveicon:hover img {
	background: url('http://www.undp.org/images/intranet/icon/move_on.gif') top left no-repeat;
}
a.copyicon img {
	background: url('http://www.undp.org/images/intranet/icon/copy.gif') top left no-repeat;
}
a.copyicon:hover img {
	background: url('http://www.undp.org/images/intranet/icon/copy_on.gif') top left no-repeat;
}
a.deleteicon img {
	background: url('http://www.undp.org/images/intranet/icon/delete.gif') top left no-repeat;
}
a.deleteicon:hover img {
	background: url('http://www.undp.org/images/intranet/icon/delete_on.gif') top left no-repeat;
}


/* FILE TYPE LISTS */

li.doc, .rightsidebar ul li.doc,
li.pdf, .rightsidebar ul li.pdf,
li.exe, .rightsidebar ul li.exe,
li.css, .rightsidebar ul li.css,
li.folder, .rightsidebar ul li.folder,
li.htm, .rightsidebar ul li.htm,
li.pps, .rightsidebar ul li.pps,
li.css, .rightsidebar ul li.css,
li.txt, .rightsidebar ul li.txt,
li.zip, .rightsidebar ul li.zip,
li.xls, .rightsidebar ul li.xls,
li.xlt, .rightsidebar ul li.xlt,
li.xml, .rightsidebar ul li.xml,
li.gif, .rightsidebar ul li.gif,
li.bmp, .rightsidebar ul li.bmp,
li.jpg, .rightsidebar ul li.jpg,
li.img, .rightsidebar ul li.img,
li.ppt, .rightsidebar ul li.ppt,
li.unknown, .rightsidebar ul li.unknown{
	list-style-type:  none;
	list-style-position: outside;
	padding: 0px 0px 3px 7px;
	margin: 0px;
}
li.doc {
	list-style-image: url('http://www.undp.org/images/cms/mime-icons/icon_doc.gif');
}
li.pdf {
	list-style-image: url('http://www.undp.org/images/cms/mime-icons/icon_pdf.gif');
}
li.exe {
	list-style-image: url('http://www.undp.org/images/cms/mime-icons/icon_exe.gif');
}
li.css {
	list-style-image: url('http://www.undp.org/images/cms/mime-icons/icon_css.gif');
}
li.folder {
	list-style-image: url('http://www.undp.org/images/cms/mime-icons/icon_folder.gif');
}
li.htm {
	list-style-image: url('http://www.undp.org/images/cms/mime-icons/icon_htm.gif');
}
li.pps {
	list-style-image: url('http://www.undp.org/images/cms/mime-icons/icon_pps.gif');
}
li.txt {
	list-style-image: url('http://www.undp.org/images/cms/mime-icons/icon_txt.gif');
}
li.zip {
	list-style-image: url('http://www.undp.org/images/cms/mime-icons/icon_zip.gif');
}
li.xls {
	list-style-image: url('http://www.undp.org/images/cms/mime-icons/icon_xls.gif');
}
li.xlt {
	list-style-image: url('http://www.undp.org/images/cms/mime-icons/icon_xlt.gif');
}
li.xml {
	list-style-image: url('http://www.undp.org/images/cms/mime-icons/icon_xml.gif');
}
li.gif {
	list-style-image: url('http://www.undp.org/images/cms/mime-icons/icon_gif.gif');
}
li.bmp {
	list-style-image: url('http://www.undp.org/images/cms/mime-icons/icon_bmp.gif');
}
li.jpg {
	list-style-image: url('http://www.undp.org/images/cms/mime-icons/icon_jpg.gif');
}
li.img {
	list-style-image: url('http://www.undp.org/images/cms/mime-icons/icon_img.gif');
}
li.ppt {
	list-style-image: url('http://www.undp.org/images/cms/mime-icons/icon_ppt.gif');
}
li.unknown {
	list-style-image: url('http://www.undp.org/images/cms/mime-icons/icon_unknown.gif');
}



/* ADMIN EDIT BUTTONS */

/* yellow buttons for normal use */
a.adminbutton, a.adminbutton:visited, a.adminbutton-blue, a.adminbutton-blue:visited, a.adminbutton-green, a.adminbutton-green:visited, a.adminbutton-red, a.adminbutton-red:visited {
	background-color: #FFDB71;
	border: 1px solid #555555;
	margin: 2px 1px 2px 1px;
	padding: 0px 4px 0px 6px;
	color: #555555;
	font-family: "Trebuchet MS";
	font-weight: normal;
	font-size: 9px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: none;
}

/* blue buttons for table use */
a.adminbutton-blue, a.adminbutton-blue:visited {
	background-color: #E9F0F6;
	border-color: #336699;
	color: #336699;
	margin-top: 3px;
	margin-bottom: 3px;
}

/* green buttons for Save */
a.adminbutton-green, a.adminbutton-green:visited {
	background-color: #A0E5A0;
}

/* red buttons for Cancel and Delete */
a.adminbutton-red, a.adminbutton-red:visited {
	background-color: #F8B0B0;
}

a.adminbutton:hover, a.adminbutton-blue:hover, a.adminbutton-green:hover, a.adminbutton-red:hover {
	background-color: #FFCC00;
	text-decoration: none;
}

a.adminbutton-blue:hover {
	background-color: #4477AA;
	color: #FFFFFF;
	text-decoration: none;
}

a.adminbutton-green:hover {
	background-color: #009933;
	color: #FFFFFF;
	text-decoration: none;
}

a.adminbutton-red:hover {
	background-color: #FF3333;
	color: #FFFFFF;
	text-decoration: none;
}


/* THESE LINES ARE SPECIFIC TO THE WORLDWIDE STYLE SHEET */

.banner {
	background-color: #FFFFFF;
	background-image: url('http://www.undp.org/images/worldwide/banner/bluefade.gif');
 	background-position: top right;
 	background-repeat: no-repeat;
}
